{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">
  <div class="input-group mb-3 mx-auto w-50">
    <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Enter stock symbol" required
      type="text">
    <input autocomplete="off" class="form-control" name="shares" placeholder="Enter number of shares" required
      type="text">
    <div class="input-group-append">
      <button class="btn btn-success quote-search-btn" type="submit">Buy</button>
    </div>
  </div>

  <div>

  </div>
</form>
{% endblock %}