{% extends "layout.html" %}

{% block title %}
Deposit
{% endblock %}

{% block main %}
<h2 class="display-4 text-light mb-5">Deposit</h2>

<form action="/deposit" method="post">
  <div class="input-group mb-3 mx-auto w-50">
    <input autocomplete="off" autofocus class="form-control" name="deposit" placeholder="Enter deposit amount" required
      type="number" step="0.01">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Deposit</button>
</form>
{% endblock %}