{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<table class="table table-bordered">
  <caption>My History</caption>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Symbol</th>
      <th scope="col">Transaction</th>
      <th scope="col">Filled Quantity</th>
      <th scope="col">Filled Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>

  <tbody>
    {% for trx in history %}
    {% if trx["quantity"] > 0 %}
    <tr class="table-success text-success">
    {% else %}
    <tr class="table-danger text-danger" >
    {% endif %}
      <td>{{ trx["date"] }}</td>
      <td>{{ trx["symbol"] }}</td>
      {% if trx["quantity"] > 0 %}
      <td>Buy</td>
      {% else %}
      <td>Sell</td>
      {% endif %}
      <td>{{ abs(trx["quantity"]) }}</td>
      <td>{{ "${:,.2f}".format(trx["price"]) }}</td>
      <td>{{ "${:,.2f}".format(abs(trx["quantity"]) * trx["price"]) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}