{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h2 class="display-4 text-light mb-5">History</h2>

<div class="table-responsive ms-5 me-5">
  <table class="table table-light">
    <caption>All Transactions</caption>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Symbol</th>
        <th scope="col">Transaction</th>
        <th scope="col">Filled Quantity</th>
        <th scope="col">Filled Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
  
    <tbody class="table-group-divider">
      {% for trx in history %}
      {% if trx["quantity"] > 0 %}
      <tr class="table-success">
      {% else %}
      <tr class="table-danger" >
      {% endif %}
        <td>{{ trx["date"] }}</td>
        <td>{{ trx["symbol"] }}</td>
        {% if trx["quantity"] > 0 %}
        <td style="color: green">Buy</td>
        {% else %}
        <td style="color: red;">Sell</td>
        {% endif %}
        <td>{{ abs(trx["quantity"]) }}</td>
        <td>{{ "${:,.2f}".format(trx["price"]) }}</td>
        <td>{{ "${:,.2f}".format(abs(trx["quantity"]) * trx["price"]) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}