{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<div class="container dash-head">
  <h4>Total Cash: {{ total_cash }}</h4>
  <h4>Total Portfolio Value: {{ total_portfolio_value }}</h4>
</div>

<table class="table table-striped table-bordered">
  <caption>My Portfolio</caption>
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Quantity</th>
      <th scope="col">Current Price</th>
      <th scope="col">Total Value</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in portfolio %}
    <tr>
      <td>{{ stock["symbol"] }}</td>
      <td>{{ stock["quantity"] }}</td>
      <td>{{ stock["current_price"] }}</td>
      <td>{{ stock["total_value"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}