{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<h2 class="display-4 text-light mb-5">My Dashboard</h2>

<div class="card-group dash-head">

  <div class="card bg-dark border-light mb-3">
    <div class="h3 card-header text-light">Total Cash</div>
    <div class="card-body text-light">
      <div class="h1 card-body">{{ total_cash }}</div>
      <form action="/deposit" method="get">
        <button class="btn btn-primary" type="submit">Deposit</button>
      </form>
    </div>
  </div>

  <div class="card bg-dark border-light mb-3">
    <div class="h3 card-header text-light">Total Portfolio Value</div>
    <div class="card-body text-light">
      <div class="h1 card-body">{{ total_portfolio_value }}</div>
    </div>
  </div>

  <div class="card bg-dark border-light mb-3">
    <div class="h3 card-header text-light">Total Account Value</div>
    <div class="card-body text-light">
      <div class="h1 card-body">{{ total_account_value }}</div>
    </div>
  </div>

</div>

<table class="caption-top table table-dark table-striped table-bordered">
  <caption class="text-light">Portfolio</caption>
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Quantity</th>
      <th scope="col">Current Price</th>
      <th scope="col">Total Value</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in portfolio %}
    <tr>
      <td>{{ stock["symbol"] }}</td>
      <td>{{ stock["quantity"] }}</td>
      <td>{{ stock["current_price"] }}</td>
      <td>{{ stock["total_value"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}