{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<h2 class="display-4 text-light mb-5">Sell</h2>

<form action="/sell" method="post">
  <div class="input-group mb-3 mx-auto w-50">
    <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Enter stock symbol" required
      type="text">
    <input autocomplete="off" class="form-control" name="shares" placeholder="Enter number of shares" required
      type="number">
    <div class="input-group-append">
      <button class="btn btn-danger quote-search-btn" type="submit">Sell</button>
    </div>
  </div>

  <div>

  </div>
</form>
{% endblock %}